button{
 margin: 10px;
 font-size: 30px;;
 border-radius: 4px;
 background-color: black;
 color: aliceblue;
}

.answer{
    font-size: 40px;
}

.App{
    background-color: black;
    border-radius: 30px;
    width: 250px;
}